.background2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  
    --s: 194px; /* control the size */
    --c1: rgb(222, 124, 125);
    --c2: rgb(204, 43, 82);
  
    --_l: #0000 calc(25% / 3), var(--c1) 0 25%, #0000 0;
    --_g: conic-gradient(from 120deg at 50% 87.5%, var(--c1) 120deg, #0000 0);
  
    background: var(--_g), var(--_g) 0 calc(var(--s) / 2),
      conic-gradient(from 180deg at 75%, var(--c2) 60deg, #0000 0),
      conic-gradient(from 60deg at 75% 75%, var(--c1) 0 60deg, #0000 0),
      linear-gradient(150deg, var(--_l)) 0 calc(var(--s) / 2),
      conic-gradient(
        at 25% 25%,
        #0000 50%,
        var(--c2) 0 240deg,
        var(--c1) 0 300deg,
        var(--c2) 0
      ),
      linear-gradient(-150deg, var(--_l)) rgb(136, 29, 55);
    background-size: calc(0.866 * var(--s)) var(--s);
  }

  .background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(ellipse, rgb(222, 124, 125), transparent, rgb(204, 43, 82)) rgb(204, 43, 82);
  }
  