/* From Uiverse.io by suleymanlaarabidev */ 
.card {
    width: 300px;
    height: 330px;
    background: rgb(116, 9, 56);
    transition: all 0.7s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
  }
  
  .card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: rgb(175, 23, 64)e;
  }
  
  .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
  .card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.5s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
  .card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
  }
  
  .cards-container {
    display: grid; /* Usar grid para organizar tarjetas */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows: 50% 25%;
    gap: 10px; /* Espacio reducido entre las tarjetas */
    margin: 10px; /* Margen alrededor del contenedor */
    margin-bottom: 250px;
    justify-items: center; /* Centra horizontalmente las tarjetas en cada celda */
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem; /* Tamaño de fuente más grande */
  color: white; /* Color blanco */
  text-align: left; /* Centrar el texto (opcional) */
  margin-bottom: 20px; /* Espacio inferior opcional */
}

/* Estilos para el párrafo p */
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem; /* Tamaño de fuente para el párrafo */
  color: white; /* Color blanco */
  text-align: left; /* Centrar el texto (opcional) */
  max-width: 600px; /* Limitar el ancho del párrafo para mejor legibilidad */
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem; /* Tamaño de fuente más grande */
  color: white; /* Color blanco */
  text-align: left; /* Centrar el texto (opcional) */
  margin-bottom: 20px; /* Espacio inferior opcional */
}

.card-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.9rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.card-link:hover {
  color: #ddd;
}