/* Estilos para el encabezado h1 */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem; /* Tamaño de fuente más grande */
    color: white; /* Color blanco */
    text-align: left; /* Centrar el texto (opcional) */
    margin-bottom: 20px; /* Espacio inferior opcional */
  }
  
  /* Estilos para el párrafo p */
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem; /* Tamaño de fuente para el párrafo */
    color: white; /* Color blanco */
    text-align: left; /* Centrar el texto (opcional) */
    max-width: 600px; /* Limitar el ancho del párrafo para mejor legibilidad */
  }