
  .nav-bar__link {
    padding: 8px;
    text-decoration: none;
    margin-right: 5px; 
    &--noactive {
      background: #ffffff;
      color: rgb(0, 0, 0);
      border-radius: 5px;
    }
    

    &--active {
      background: #46dccf;
      color: white;
      border-radius: 5px;
    }
  }

  .nav-bar__logo {
    width: 165px; 
    height: auto;
    margin-right: 10px; 
  }
  .nav-bar__sign{
    padding: 8px;
    background-color:rgb(90, 155, 16);
    color: black;
    margin-left: 830px;

  }
  .nav-bar__button {
    background-color: #007bff;
    color: white;
    padding: 13px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: auto;
  }
  
  .nav-bar__button:hover {
    background-color: #0056b3;
  }